.rendu {
    color:lightgreen;
    border:2px solid green;
}

.nonRendu {
    color:lightcoral;
    border:2px solid red;
}

.important {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
}

.ajout-btn {
    align-self: flex-end;
}